i.r {
  font-style: normal;
  color: #cc0000;
}

i.g {
  font-style: normal;
  color: #6aa84f;
}

i.b {
  font-style: normal;
  color: #3c78d8;
}

i.y {
  font-style: normal;
  color: #f1c231;
}

i.p {
  font-style: normal;
  color: #d679d6;
}
